
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
    background: #f9f9f9;
  }

iframe{
    width: 600px;
    height: 500px
}